body{
    background-color: #2d2d2d;
    margin: 0px;
    padding: 0px;
    /* text-align: center; */
}
h1{
    font-family: Verdana, Tahoma, sans-serif;
    letter-spacing: 25px;
    color: #1c1c1c;
    text-transform: uppercase;
    text-align: center;
    margin: 80px 450px;

}
h1:hover{
    background: linear-gradient( to left,#e65022 25%, #7fb40e,#12a1e3,#f0b30d );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: no-drop;
    margin: 80px 450px;
    transition: 0.5s;
}

.patru_p{
    justify-content: center;
    text-align: center;
}
a{
    text-decoration: none;
    font-family:sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #2d2d2d ;
}
/* Blocurile */
.red_1{
    background-color: #e65022;
    margin: 20px 550px;
    padding: 20px 0px;
    transition: 0.5s;   

}
.green_2{
    background-color: #7fb40e;
    margin: 20px 550px;
    padding: 20px 0px;
    transition: 0.5s; 
}
.blue_3{
    background-color: #12a1e3;
    margin: 20px 550px;
    padding: 20px 0px;
    transition: 0.5s; 
}
.yellow_4{
    background-color: #f0b30d;
    margin: 20px 550px;
    padding: 20px 0px;
    transition: 0.5s; 
}
/* Terminarea blocurilor */
.red_1:hover, .green_2:hover, .blue_3:hover, .yellow_4:hover{
    border-radius: 30px;
    margin: 20px 480px;
    padding: 20px 0px;
    cursor: pointer;
}
.back{
    text-align: center;
}
.back_h1{
  font-size: 35px;
  color: #1c1c1c;
  text-transform: uppercase;
  margin: 20px 550px;
  text-align: center;
}
.back_h1:hover{
    font-size: 35px;
    color: blanchedalmond; 
    transition: 0.8s;
  }

  .logo_site{
      text-align: center;
      margin-top: 150px;
  }
  .instagram{
    background: radial-gradient(circle at 30% 120%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    margin: 20px 550px;
    padding-top: 5px;
    transition: 0.5s;   
  }
  .facebook{
    background-color:#4267b2;
    margin: 20px 550px;
    padding-top: 5px;

    transition: 0.5s;   
  }
  .telegram{
    background-color: #61a8de;
    margin: 20px 550px;
    padding-bottom: -2px;
    padding-top: 5px;
    transition: 0.5s;   
  }
  img{
      width: 50px;
      height: 50px;
  }
  .instagram:hover, .facebook:hover, .telegram:hover{
    border-radius: 30px;
    margin: 20px 480px;
    padding-top: 5px;
    cursor: pointer;
}
.about_mee{
    text-align: center;
}
.profile_image{

}
.image_p{
width: 150px;
height: 150px;
border-radius: 50%;
cursor: no-drop;
margin-top: 10px;
}
.line_22{
    border: 2px solid #1c1c1c;
    margin: 40px 250px;
}
.line_23{
    border: 2px solid #1c1c1c;
    margin: 10px 243px;
}

.infomration_me{
 margin: 40px 250px;
 font-size: 20px;
 text-align: center;
 color: #fff;
 font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;

}
.color_000{
  display: inline;
}
.color_000:hover{
   display: inline;
   cursor: pointer;
   border-bottom: 1px solid #fff;
   border-top: 1px solid #fff;
}
.what1x{
  margin-left: 250px;
 /* margin-top: 30px;*/
  color: #fff;
  font-family: sans-serif;
  transition: 2s;
}
.cee1x{
  margin-top: 30px;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  background-color: red;
  margin-right: 800px;
}
.imgko{
  margin-left: 40px;
  margin-top: 27px;
}
.imgko>img:first-child{
  margin-right: 100px;
}
.what2x{
  margin-right: 250px;
  text-align: right;
/*  margin-top: 30px;*/
  color: #fff;
  font-family: sans-serif;
  transition: 2s;
}
.cee2x{
  margin-top: 30px;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  background-color: red;
  margin-left: 800px;
}
.text_img{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: 1s;
}

.text_img>h2{
  font-family: sans-serif;
  color: #1c1c1c;
  margin-bottom: 35px;
}

.text_img>.tst_07{
  width: 866px;
  height: 750px;
  transition:all 1.5s;
  cursor: zoom-in;

}
.text_img>.tst_07:hover,.text_img>.tst_08:hover,
.text_img>.tst_01:hover,.text_img>.tst_02:hover,.text_img>.tst_09:hover,.text_img>.tst_03:hover,
.text_img>.tst_04:hover,.text_img>.tst_05:hover,.tst_06:hover,.tst_10:hover
{
  width: 100%;
  height: 100%;
}

.text_img>.tst_08{
  width: 866px;
  height: 1400px;
  transition:all 1.5s;
  cursor: zoom-in;
}

.text_img>.tst_01{
  width: 866px;
  height: 750px;
  transition:all 1.5s;
  cursor: zoom-in;
}
.text_img>.tst_02{
  width: 866px;
  height: 3170px;
  transition:all 1.5s;
  cursor: zoom-in;
}
.text_img>.tst_09{
  width: 866px;
  height: 350px;
  transition:all 1.5s;
  cursor: zoom-in;
}
.text_img>.tst_03,.text_img>.tst_04,.text_img>.tst_05{
  width: 866px;
  height: 1050px;
  transition:all 1.5s;
  cursor: zoom-in;
}
.text_img>h2>p{
  color: red;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.tst_06{
  width: 866px;
  height: 360px;
  transition:all 1.5s;
  cursor: zoom-in;  
}
.tst_10{
  width: 866px;
  height: 410px;
  transition:all 1.5s;
  cursor: zoom-in;  
}